==
<script src="{{ 'assets/js/jquery.1.12.4.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.easing.1.3.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.animsition.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.appear.js' | theme }}"></script>
<script src="{{ 'assets/js/masterslider.min.js' | theme }}"></script>
<script src="{{ 'assets/js/materialmenu.js' | theme }}"></script>
<script src="{{ 'assets/js/mediaelement-and-player.min.js' | theme }}"></script>
<script src="{{ 'assets/js/retina.min.js' | theme }}"></script>
<script src="{{ 'assets/js/custom.js' | theme }}"></script>